PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/real_estate_portal
JWT_SECRET=replace_me
VITE_GRAPHHOPPER_API_KEY=replace_me
VITE_GRAPHHOPPER_ROUTE_URL=https://graphhopper.com/api/1/route
